/* CSS declarations go here */

body
{
  background: #eee; 
}

.noLinkText {
  text-decoration: none !important;
  color: black !important;
}

.boldNoUnderline {
  text-decoration: none !important;
  font-weight: bold !important;
}

.noUnderline {
  text-decoration: none !important;
}

.topBuffer { margin-top:10px; }

div.grey {
  background-color: #eee;
}

div.white {
  background-color: #fff;
}

.colorGrey {
  color: #666;
}

.colorError {
  color: red;
}

.colorDanger {
  color: red;
}

.colorWarning {
  color: orange;
}

.colorSucess {
  color: green;
}

div.homeItemFrame {
  padding : 5px;
}

.homeItemIcon {
  font-size: 2.0em;
}

div.homeItemDate {
  font-weight: italic !important;
  font-size: 0.8em;
  color: #666;
}

div.homeItemInner {
  overflow:hidden;
  background-color: #fff;
}

img.homeItem {
  width: 120px;
  height: 85px;
}

div.bluredItemBackground  {
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  opacity:0.33;

  background-size: 100%;
  background-repeat: no-repeat;
  width: 120px;
  height: 85px;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}



div.bluredBackground  {
  z-index: -999;
  position: fixed;
  left: 0;
  right: 0;
  opacity:0.66;

  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

div.layoutBackground  {
  z-index: -999;
  position: fixed;
  left: 0;
  right: 0;

  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #eee;
  width: 100%;
  height: 100%;
}


div.footer {
  height: 100px;
}

div.panel-body {
  overflow:hidden;
}

